<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssinicial.css">
    <title>Atendimento</title>
</head>

<body>

    <img id="imagem" src="/img/logo-ansiedade.png">
    <h1 id="título"><a class="inicio" href="/">Ínicio</a>
        <a class="inicio" href="atendimento.ejs">Atendimento</a>
        <a class="inicio" href="sobrenos.ejs">Sobre Nós</a> </h1>

    <h1 class="atendimentocentro">Já possui cadastro no nosso site?</h1>
    <p class="atendimentocentro">Caso não tenha feito clique em <a class="inicio" href="cadastro.ejs">Cadastro</a> para
        fazer o seu!</p>
    <p class="atendimentocentro">Caso já tenha feito clique em <a class="inicio" href="login.ejs">Login</a> para
        realizar o seu login!</p>

    <center>
        <table class="tabela2">

            <caption class="titulotabela">MIND - Tratamento Psicológicos - Sala 2012</caption><br>
            <tr>
                <th>Profissionais</th>
                <th>Profissão</th>
                <th>ID</th>
                <th>Dias</th>
                <th>Horários</th>
                <th>E-mails</th>
            </tr>
            <tr>
                <td>Felipe Bianco Fitipaldi</td>
                <td>Neuropsicologia</td>
                <td>125111347112</td>
                <td>Segunda e Terça</td>
                <td>09:00 | 13:00</td>
                <td>felipe@fitipaldi.com.br</td>
            </tr>
            <tr>
                <td>Arthur Korkiskis Felismino</td>
                <td>Psicoterapia</td>
                <td>125111351312</td>
                <td>Segunda e Terça</td>
                <td>14:00 | 18:00</td>
                <td>arthurkfelismino@gmail.com</td>
            </tr>
            <tr>
                <td>Enzo Pagnozzi Cesar</td>
                <td>Psicologia E-sports</td>
                <td>12522180038</td>
                <td>Quarta e Quinta</td>
                <td>09:00 | 13:00</td>
                <td>pagnozzienzo85@gmail.com</td>
            </tr>
            <tr>
                <td>Paulo Gustavo Sousa Brito</td>
                <td>Psicologia criminal</td>
                <td>125111378562</td>
                <td>Quarta e Quinta</td>
                <td>14:00 | 18:00</td>
                <td>oluap077@gmail.com</td>
            </tr>
            <tr>
                <td>Thalles R. Lima</td>
                <td>Psicologia das cores</td>
                <td>125111345491</td>
                <td>Sexta</td>
                <td>09:00 | 13:00</td>
                <td>thalles.lima3301@gmail.com</td>
            </tr>
            <tr>
                <td>Vinicius Lessa Ferreira</td>
                <td>Psicologia comportamental</td>
                <td>125111359577</td>
                <td>Sexta</td>
                <td>14:00 | 18:00</td>
                <td>vini.lessa27@gmail.com</td>
            </tr>
        </table>
    </center> <br>
    <footer>
        <div id="rodape" role="contentinfo">
            <h1>São Paulo - Guarulhos Office Tower - Sala 2012
                (11)98443-0552
            </h1>
            <h3>@Copyright MIND - Tratamentos Psicológicos - 2022</h3>
        </div>
    </footer>

</body>

</html>