<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssinicial.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Ansiedade</title>
</head>

<body>

    <img id="imagem" src="/img/logo-ansiedade.png">
    <h1 id="título"><a class="inicio" href="/">Ínicio</a>
        <a class="inicio" href="atendimento.ejs">Atendimento</a>
        <a class="inicio" href="sobrenos.ejs">Sobre Nós</a> </h1>

    <div id="redes" role="navigation">
        <h2 class="RedesTitulo">Redes Sociais</h2>
        <br>

        <a class="logosdaredes" href="https://www.facebook.com/MindTratamentos/"> <img src="/img/Facebook.png"
                alt="Facebook"> <br></a>
        <a class="logosdaredes" href="https://www.instagram.com/mind_tratamentos/"><img src="/img/Instagram.png"
                alt="Instagram">
            <br></a>
        <a class="logosdaredes" href="https://twitter.com/Mind_Tratamento"><img src="/img/Twitter.png" alt="Twitter">
            <br></a>
        <a class="logosdaredes" href="https://www.youtube.com/channel/UC13o0AgWnJDNd3ICt6mssvA"><img
                src="/img/YouTube.png" alt="You Tube">
            <br></a>



    </div>

    <div class="conteudo" role="main">

        <h1 class="noticias">Notícias</h1>

        <ul class="lista">
            <li>Pequenos ensaios clínicos que mostraram que uma ou duas doses de psilocibina, administradas em um
                ambiente
                terapêutico, podem fazer mudanças dramáticas e duradouras em pessoas que sofrem de transtorno depressivo
                maior
                resistente ao tratamento, que normalmente não respondem aos antidepressivos tradicionais. </li>
            <br>
           
            <li>A psilocibina, que os intestinos convertem em psilocina, uma substância química com propriedades
                psicoativas,
                também se mostra promissora no combate à cefaleia em salvas, ansiedade, anorexia, transtorno
                obsessivo-compulsivo e várias formas de abuso de substâncias. </li>
            <br>
            <li>
                Pesquisa da Universidade de São Paulo (USP), em 2021, apontou que, em uma lista de onze países, o Brasil
                é o que tem mais casos de trabalhadores com problemas de saúde mental
                Nos últimos meses, as medidas restritivas para conter o avanço da pandemia do novo coronavírus, como
                isolamento social, trabalho home-office e o doloroso luto de milhões de brasileiros que perderam entes
                queridos para a Covid-19, aumentaram o estresse, a ansiedade e a depressão em trabalhadores e
                trabalhadoras. Além disso, expôs a falta de políticas específicas para proteger a saúde mental de várias
                categorias profissionais.
            </li>
            <br>
            <li>
                Casos de ansiedade e depressão cresceram 25% durante pandemia, diz OMS.
                As informações que temos agora sobre o impacto da Covid-19 na saúde mental pelo mundo são apenas a ponta
                do iceberg”, disse Tedros Adhanom, diretor-geral da OMS. “Este é um alerta para que todos os países
                prestem mais atenção à saúde mental e façam um trabalho melhor no apoio à saúde mental de suas
                populações”.
            </li>
            <br>
            <li>
                A inteligência emocional é a capacidade humana de gerenciar sentimentos e emoções a fim de controlar
                melhor as respostas instintivas a diferentes estímulos externos.
                O que é uma pessoa emocionalmente inteligente? A capacidade de processar emoções requer principalmente
                equilibrar nosso desempenho cognitivo no sistema límbico, a parte mais interna do cérebro associada às
                emoções e as capacidades que existem em cada hemisfério.
            </li>
        </ul>

    </div>

    <div class="conteudo">
        <h1 class="noticias">Informações Atuais...</h1>
        <a href="https://www.metropoles.com/saude/saiba-quais-sao-os-principais-sintomas-de-ansiedade-em-criancas"><img
                class="tamanhoimagem" src="/img/download.png"></a>
        <a
            href="https://www.cnnbrasil.com.br/saude/entenda-como-a-guerra-pode-provocar-traumas-e-danos-a-saude-mental/"><img
                class="tamanhoimagem2"
                src="/img/-AcnurValerio-Muscella-Refugiados-da-Ucrania-se-aquecem-em-fogueira-apos-cruzarem-a-fronteira-para-a-Polonia-em-Medyka.png"></a>


    </div>



</body>

<footer>

    <div id="rodape" role="contentinfo">
        <h1>São Paulo - Guarulhos Office Tower - Sala 2012
            (11)98443-0552
        </h1>
        <h3>@Copyright MIND - Tratamentos Psicológicos - 2022</h3>
    </div>

</footer>

</html>