<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssinicial.css">
    <title>Receita Médica</title>
</head>

<body>

    <img id="imagem" src="/img/logo-ansiedade.png">

    <h1>RECEITA MÉDICA</h1>

    <div id="itens" role="navigation">
        <fieldset>
            <h2>Selecione o item desejado:</h2>

            <a href="agendar.ejs">Agendar Consulta</a> <br><br>
            <a href="visualizar.ejs">Visualizar Consulta</a> <br><br>
            <a href="receita.ejs">Receitas Médica</a> <br><br>
        </fieldset>
    </div>

    <div id="conteudo" role="main">
        CONTEÚDO DE RECEITA
    </div>

    <footer>
        <div id="rodape" role="contentinfo">
            <h1>São Paulo - Guarulhos Office Tower - Sala 2012
                (11)98443-0552
            </h1>
            <h3>@Copyright MIND - Tratamentos Psicológicos - 2022</h3>
        </div>
    </footer>
</body>

</html>