<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssinicial.css">
    <title>Sobre Nós</title>
</head>

<body>

    <img id="imagem" src="/img/logo-ansiedade.png">
    <h1 id="título"><a class="inicio" href="/">Ínicio</a>
        <a class="inicio" href="atendimento.ejs">Atendimento</a>
        <a class="inicio" href="sobrenos.ejs">Sobre Nós</a> </h1>

    <center>

        <h1 class="titulosobre">Sobre Nós...</h1>

        <p class="textodescritivo">
            A Mind Tratamentos, cuida de nossos pacientes desde 1985, nossa instituição foi fundada pelo nosso médico
            entusiasta: Doutor Alfredo Joaquim dos Santos <br><br>

            Nascido em Minas Gerais, em uma cidade pequena chamada Senador Cortes, em 1945, cresceu sem o auxilio do
            pai, apenas com sua mãe <br>
            Dona Clementina do Santos. Desde cedo era uma criança estudante e ávida ao seu trabalho, pretendendo estudar
            medicina <br>
            Assim, em julho de 1967, saiu de sua cidade e foi para São Paulo, tentar a vida e seus estudos na cidade
            grande... <br> <br>

            Conheceu diversos médicos importantes da época, porém, se interessava muito pela mente humana, assim,
            estudou psicologia, e fez doutorado em <br>
            psicoterapia. <br> <br>

            anos mais tarde, fundou nossa instituição de hoje, e que graças a ela, temos o comprometimento de ajudar o
            próximo, e assim, evoluir mais a ciência <br>
        </p>

        <h1 class="titulosobre">Nossos Funcionários...</h1>
        <p class="textodescritivo">
            A Mind sempre trabalhou com os melhores profissionais do mercado. Possuimos muitos clínicos que procuram
            sempre o melhor para você e sua <br>
            familia... <br><br>

            Alguns de nossos empregados, possuem doutorado e mestrado, e se comprometem a auxiliar e trabalhar com você!
        </p>

        <br><br>

        <div class="persona">
            <img class="fotodeperfil" src="/img/arthur.png">
            <h1 class="doutores">Arthur Korkiskis Felismino</h1>
            <p class="textodoutores">
                Doutor, Arthur possui formação na Anhembi Morumbi, com graduação no curso de Psicoterapia <br>
                graduado pela USP, teve doutorado e pós doutorado na UFRJ <br> <br>

                Grandes destaques nas Universidades com projetos inovadores <br> <br>

                Responsável por criar a vacina de Oxford contra a Covid-19

            </p>
        </div>
        <br><br>
        <div class="persona2">
            <img class="fotodeperfil" src="/img/felipe.png">
            <h1 class="doutores">Felipe Bianco Fitipaldi</h1>
            <p class="textodoutores">
                Doutor, Felipe possui formação na Anhembi Morumbi, com Graduação no curso de Neuropsicologia <br>
                <br>

                A Neuropsicologia tem a finalidade de dar assistência aos pacientes durante os procedimentoa de
                recuperação e reabilitação que sofreram acidentes com lesões traumáticas.
                <br><br>
                A tecnologia nos ajudou a melhorar o jeito de ajudaramos os pacientes com Simulações cognitivas,
                Inteligência Artificial e tarefas de resolução de problemas.<br>
                Na reabilitação neuropsicológica, as novas tecnologias têm facilitado o desenvolvimento de estratégias
                compensatórias e simulações de situações do cotidiano, tais como:<br>
                A utilização de dispositivos eletrônicos e celulares, computadores e tablets, videogames, realidade
                virtual, robôs.
            </p>
        </div>
        <br><br>
        <div class="persona4">
            <img class="fotodeperfil" src="/img/thales.png">
            <h1 class="doutores">Thalles R. Lima</h1>
            <p class="textodoutores">
                Doutor, Thalles possui formação na Anhembi Morumbi, com graduação no curso de Psicologia.<br>
                <br>

                Grandes destaques nas Universidades com projetos inovadores sobre a psicologia das cores.<br> <br>

                Responsável por criar artigos sobre "INFORMAÇÃO ATRAVÉS DA COR
                A Construção Simbólica Psicodinâmica das Cores na Concepção do Produto" focado na parte de "O estimulo,
                a percepção e sintaxe das cores".
            </p>
        </div>
        <br><br>
        <div class="persona3">
            <img class="fotodeperfil" src="/img/paulo.png">
            <h1 class="doutores">Paulo Gustavo Sousa Brito</h1>
            <p class="textodoutores">
                Doutor, Paulo possui formação na Anhembi Morumbi, com graduação no curso de psicologia <br>
                <br>

                Grandes destaques nas Universidades com iniciação científica em Psicologia criminal
                <br> <br>

                Cooperador do artigo Telling Lies de Paul Ekman.
                Revolucionando a investigação de linguagens faciais em contextos diversos.
            </p>
        </div>
        <br><br>
        <div class="persona5">
            <img class="fotodeperfil" src="/img/55_11_95026-2741_20220613_234034.jpg">
            <h1 class="doutores">Vinicius Lessa Ferreira</h1>
            <p class="textodoutores">
                Doutor, Vinicius possui formação na Anhembi Morumbi, com graduação no curso de psicologia <br>
                <br>
                Grandes destaques nas Universidades com projetos inovadores sobre a Psicologia comportamental<br> <br>

                Responsável por criar artigos sobre comportamentos de adolescentes na pandemia.
                Se tornando um dos principais pesquisadores sobre os comportamentos na pandemia.
            </p>
        </div>
        <br><br>
        <div class="persona1">
            <img class="fotodeperfil" src="/img/dd24d6c7-f843-49dd-b0df-5ff2e1aebc2c.png">
            <h1 class="doutores">Enzo Pagnozzi Cesar</h1>
            <p class="textodoutores">
                Doutor, Enzo possui formação na Anhembi Morumbi, com graduação no curso de psicologia <br>
                <br>

                Grandes destaques nas Universidades com projetos inovadores sobre a Psicologia Esportes Eletronicosl<br>
                <br>

                Ajudou diversos atletas a atingir seu desempenho máximo.
                Alguns times que já trabalhei: Team liquid, NiP, FaZe e Black Dragons
            </p>
        </div>
        <br><br>


    </center>

    <br><br>
    <footer>
        <div id="rodape" role="contentinfo">
            <h1>São Paulo - Guarulhos Office Tower - Sala 2012
                (11)98443-0552
            </h1>
            <h3>@Copyright MIND - Tratamentos Psicológicos - 2022</h3>
        </div>
    </footer>


</body>

</html>