<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssinicial.css">
    <title>Login do Usuário</title>
</head>

<body>

    <img id="imagem" src="/img/logo-ansiedade.png">
    <h1 id="título"><a class="inicio" href="/">Ínicio</a>
        <a class="inicio" href="atendimento.ejs">Atendimento</a>
        <a class="inicio" href="sobrenos.ejs">Sobre Nós</a> </h1>

    <h1>Bem-Vindo a Página do Usuário</h1>

    <fieldset class="selecaodeconsulta">
        <h2>Escolha um dos itens abaixo:</h2>

        <a class="inicio" href="agendar.ejs">Agendar Consulta</a> <br><br>
        <a class="inicio" href="visualizar.ejs">Visualizar Consulta</a> <br><br>
    </fieldset>

    <br><br>

    <footer>
        <div id="rodape" role="contentinfo">
            <h1>São Paulo - Guarulhos Office Tower - Sala 2012
                (11)98443-0552
            </h1>
            <h3>@Copyright MIND - Tratamentos Psicológicos - 2022</h3>
        </div>
    </footer>
</body>

</html>